# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Environment variables & virtual environments
.env
.venv
venv/
env/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
dist-ssr/

# Logs & Docker data
*.log
data/
docker_data/
*.rdb
dump.rdb
*.zip

# Uploads
storage/uploads/*
!storage/uploads/.gitkeep
